
.phone {
  border-radius: 2rem;
  border: 1rem solid #F7FAFC;
  overflow: hidden;
  /* padding-bottom: 3%; */
}
.phone img {
  border-radius: 1rem;
  /* border: 2px solid white; */
}
/* .phone::after {
  clear: both;
  content: '';
  width: 30%;
  height: 1%;
  border-radius: 8px;
  background-color: #2D3748;
  display: block;
  margin:auto;
  margin-top: 3%;
} */

.underline {
   text-decoration: none;
   position: relative;
 }

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
  /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: 0;


   /******
   optional values below
   ******/
    /* center - (optional) use with adjusting width   */
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: transparent;

  /* optional animation */
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}


/* optional hover classes used with anmiation */
.underline:hover:after {
  width: 100%;
  background: #2d3748;
}

.submenu-container {
  z-index: -1;
}
.slide-enter {
  opacity: 0.01;
  transform: translateY(-100%);
  transition: .3s cubic-bezier(0, 1, 0.5, 1);
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  transform: translateY(0%);
}

.slide-leave {
  opacity: 1;
  /* transform: translateY(0%);
  transition: .3s ease-in-out; */
}
.slide-leave.slide-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
  /* transform: translateY(-100%); */
}


.grid {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e1dfdf' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.cross-noodle {
  background-image: url(../img/patterns/cross-noodle.svg);
  background-size: 24rem;
  background-position: -8rem -8rem;
}
.dots {
  background-image: url(../img/patterns/dots.svg);
  background-size: 30rem;
}
.doodle {
  background-image: url(../img/patterns/doodle.svg);
  background-size: 30rem;
  background-position: -8rem -8rem;
}
.lines {
  background-image: url(../img/patterns/lines.svg);
  background-size: 20rem;
  background-position: -4rem -4rem;
}
.noodles {
  background-image: url(../img/patterns/noodles.svg);
  background-size: 30rem;
  background-position: -8rem -8rem;
}
.fancy {
  background-image: url(../img/patterns/fancy.svg);
  background-size: 40rem;
  background-position: -4rem -4rem;
}
.abstract {
  background-image: url(../img/patterns/abstract.svg);
  background-size: 30rem;
  background-position: -4rem -4rem;
}



@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@-webkit-keyframes fadeInShow {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fadeInShow {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@-webkit-keyframes floatUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
  }
}

@keyframes floatUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }

  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px)
  }
}

.me {
  top: 6rem;
}

.anime-gradientBg:hover {
  background-image: -webkit-linear-gradient(left, #ccc, #434741);
  color: #fff;
  transition: .2s
}

.anime-gradientText-dark, .anime-gradientText-light {
  transition: .2s
}

.anime-gradientText-dark:hover, .anime-gradientText-light:hover {
  color: #ccc
}

@media (-webkit-min-device-pixel-ratio:0) {
  .anime-gradientText-dark, .anime-gradientText-light {
    background-color: #fff;
    background-image: -webkit-linear-gradient(left, #ccc, #434741 50%, transparent 0);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .1s .2s;
    -webkit-background-clip: text
  }

  .anime-gradientText-light {
    background-color: #fff
  }

  .anime-gradientText-dark {
    background-color: #4a5568
  }

  .anime-gradientText-dark:hover, .anime-gradientText-light:hover {
    background-position: 0 0;
    color: transparent;
    transition: .4s 0
  }
}

.anime-fadeInDown {
  -webkit-animation: fadeInDown .5s ease-in-out;
  animation: fadeInDown .5s ease-in-out
}

.anime-fadeInUp {
  -webkit-animation: fadeInUp 1s ease-in-out;
  animation: fadeInUp 1s ease-in-out
}

.anime-fadeInShow {
  -webkit-animation: fadeInShow 1s ease-in-out;
  animation: fadeInShow 1s ease-in-out
}

.floatUp:hover {
  -webkit-animation: floatUp .2s ease-in-out forwards;
  animation: floatUp .2s ease-in-out forwards
}

.transition {
  transition: all .5s ease-in !important
}

.transition-fast {
  transition: all .2s ease !important
}

.hover\:translate-r-2px{
  transform: translateX(2px) !important
}

.font-sans {
  font-family: "IBM Plex Sans", "Merriweather Sans", "Work Sans", "Open Sans", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

.font-serif {
  font-family: "IBM Plex Sans", "Merriweather", Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif
}

.font-mono {
  font-family: Fjalla One, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}
