/* @import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700|IBM+Plex+Serif:400,500,600,700&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Taviraj|Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap'); */

body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
